body{
    overflow: hidden;
  }
  .main{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background: rgb(0,20,30);
    overflow: hidden;
    height: 100%;
    width: 100%;
  }